PEFConduit/doc/PEF/ticket/schema/criarresponse.xsd

<xs:schema xmlns="http://lote.homologacaoticketfrete.com.br/CDN/fretelote/schemas/SchemaRetorno_1.0.xsd" xmlns:mstns="http://lote.homologacaoticketfrete.com.br/CDN/fretelote/schemas/SchemaRetorno_1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" id="SchemaRetorno" targetNamespace="http://lote.homologacaoticketfrete.com.br/CDN/fretelote/schemas/SchemaRetorno_1.0.xsd" elementFormDefault="qualified">
	<s:element name="CriarResponse">
		<s:complexType>
			<s:sequence>
				<s:element  name="CriarResult" type="tns:RetornoLote"/>
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="RetornoLote">
		<s:sequence>
			<s:element  name="Sucesso" type="s:boolean"/>
			<s:element  name="Protocolo" type="s:string"/>
			<s:element   name="Erros" type="tns:ArrayOfString"  maxOccurs="unbounded"/>
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfString">
		<s:sequence>
			<s:element name="string" nillable="true" type="s:string"/>
		</s:sequence>
	</s:complexType>
</xs:schema>			